<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GYM Website</title>
  style 
   include ../static/css.css
</head>
<body>
  <nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/">About</a></li>
    <li><a href="/">Contact Us</a></li>
  </ul>
</nav><div class="container">
 <h1>     Hurry! TODAY ONLY! Get this Gym membership for $50! Fill the form  below quickly! </h1>
 <form action="/" method="post" id="contact">
  <input type="text" id="name" name="name" placeholder="Enter your name">
  <input type="number" id="age" name="age" placeholder="Enter your age">
  <input type="text" id="address" name="address" placeholder="Enter your address">
  <input type="tel" id="tel" name="tel" placeholder="Enter your phone number">
  <input type="text" id="gender" name="gender" placeholder="Enter your gender">
  <textarea name="more" id="more" cols="10" rows="10" placeholder="Tell us something about yourself"></textarea>
  <button class="btn" type="submit">Submit</button>
 </form>
 
 
</div>
</body>
</html>